{% load static %}

    <div class="container-navigation-2 end">
      <p class="paragraph-4">The Gaming Consortium is in no way affiliated, sponsored, or endorsed by Activision Blizzard, Sony, PlayStation, Microsoft, or Xbox. All Content, game titles, trade names, associated artwork/imagery, and trademarks are trademarked material of each respective owners.</p>
      <div class="last-social">
        <a href="#" class="link-block insta w-inline-block"></a>
        <a href="#" class="link-block twitter w-inline-block"></a>
        <a href="#" class="link-block disc w-inline-block"></a>
      </div>
    </div>