      {% load static %}
      <div class="navigation">
        <div class="container-navigation-2">
          <div class="navigation-block-left">
            <a href="#" class="logo-link w-inline-block"><img src="images/TGC_Logo_Controller_cleaned_up_-1.png" width="220" alt="" class="logo-image-2"></a>
          </div>
          <div class="navigation-link-wrap">
            <a href="#" class="navigation-link w-inline-block">
              <div class="navigation-text-2">Home</div>
            </a>
            <a href="#" class="navigation-link w-inline-block">
              <div class="navigation-text-2">Bot</div>
            </a>
            <a href="#" class="navigation-link w-inline-block">
              <div class="navigation-text-2">Partnership</div>
            </a>
            <a href="#" class="navigation-link w-inline-block">
              <div class="navigation-text-2">Play</div>
            </a>
          </div>
          <div class="navigation-block-right-2">
            <a href="#" class="login-button w-inline-block">
              <div class="navigation-text-2 log">LOG IN / SIGN UP</div>
            </a>
            <div data-delay="0" class="dropdown-mobile w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <a href="#" class="mobile-button-link w-inline-block">
                  <div data-w-id="7bacb118-8593-f3e6-a1c3-2ee10c17cbe0" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/60adefdcce84cb81082f6f0c/60b4eb0c1ddaa8e1f9caad52_mob%20open.json" data-loop="0" data-direction="1" data-autoplay="0" data-is-ix2-target="1" data-renderer="svg" data-default-duration="2.3333333333333335" data-duration="0" data-ix2-initial-state="0" class="mobile-icon-animation"></div>
                </a>
              </div>
              <nav class="mobiel-dropdown w-dropdown-list">
                <a href="#" class="dropdown-link w-dropdown-link">Home</a>
                <a href="#" class="dropdown-link w-dropdown-link">Assessments</a>
                <a href="#" class="dropdown-link w-dropdown-link">About</a>
                <a href="#" class="dropdown-link w-dropdown-link">Resources</a>
                <a href="#" class="dropdown-link w-dropdown-link">Contact</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>